/* body {
  background: linear-gradient(to bottom, #BFBDC1, #6D6975),
  url("https://i.imgur.com/XcdfRzw.jpeg");
   
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
  } */
  .login-container {
    position: relative;
    /* background: linear-gradient( #5f2c82, #49a09d); */
    
    
    border: 1px solid #E5E8F0;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .form-container {
   
    background-size: cover;
    background-position: center;
    
    margin-bottom: 20px;
  }
  
  .input-field {
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #080808;
  }
  
  .continue-button {
    margin-top: 20px;
    background-color: #000000;
    color: rgb(3, 3, 3);
    transition: background-color 0.3s ease;
  }
  
  .continue-button:hover {
    background-color: #000000;
  }
  
  .body-element{
    background: #dae2f8; 
   border-radius: 8px;
   padding: 40px; 
  }