/* body{
    background-image: url("https://imgur.com/m3ODUDn.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
} */
.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;

}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 26px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 15px ;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 250px;
    height: 66px;
    background: #056883;
    color:#fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;

}
.container .index{
    margin: auto;
    font-size: 17px;
}

.quiz-container {
    position: relative;
    background-image: url("https://imgur.com/m3ODUDn.jpeg");
    background-size: cover;
    background-position: center;
}
.header h3{
    position: absolute;
    top: 20px;
    right: 20px;
}

.header h3 {
    margin: 0;
}
.header h4 {
    position: absolute;
    top: 20px;
    left: 20px;
}


.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 30px;
  }