* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(#d8c7ff, #006c292b);
  font-family: 'poppins';
}

.root-element {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.body-element{
  min-width: 500px;
}

